/* Set the color of background in the page */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}


/* Container Styles */
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}

.chart {
    width: 48%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}


/* Canvas Styles */
canvas {
    max-width: 500px;
    max-height: 400px;
}

/* Centered Text Style */
.center-text {
    text-align: center;
    margin-top: 20px;
    background-color: lightgray;
    color: black;
}

/* Top of Page Style */
.topofpage {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
